dados/AGENTE - ATENDIMENTO.json
{
  "name": "AGENTE - ATENDIMENTO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "85c86aff-9e7a-4bed-9d1e-fd5ef0ed5d4d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4720,
        380
      ],
      "id": "e59c0524-3fce-455d-8309-0adb68cc6c4d",
      "name": "Webhook",
      "webhookId": "85c86aff-9e7a-4bed-9d1e-fd5ef0ed5d4d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec1d7baf-260d-4d3d-b186-fbbd620b3a3e",
              "name": "user.name",
              "value": "={{ $('Webhook').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "89f99376-f128-487d-89ee-e5cebc009d1f",
              "name": "user.number",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "4460c05a-e309-4434-8c7b-e4a5bdf148f1",
              "name": "message.sender",
              "value": "={{ $('Webhook').item.json.body.sender.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "cd35fa3f-556f-4d10-b95f-336fea38d0e7",
              "name": "message.timestamp",
              "value": "={{ new Date($('Webhook').item.json.body.data.messageTimestamp * 1000).toISOString() }}",
              "type": "string"
            },
            {
              "id": "56dcc82a-b98e-4f29-aea0-6ba70f59af35",
              "name": "message.origem",
              "value": "={{ $('Webhook').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming'}}",
              "type": "string"
            },
            {
              "id": "4aa58c58-9a63-488e-8077-79169d73ee9e",
              "name": "message.id",
              "value": "={{ $('Webhook').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "b71f6613-fb10-4b58-af2f-6494c4453c30",
              "name": "message.type",
              "value": "={{ $('Webhook').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "b52773e4-75a0-4acc-a603-f50c43276278",
              "name": "message.content",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation || $('OpenAI').item.json.text }}",
              "type": "string"
            },
            {
              "id": "392aa270-b8e0-435b-ab91-e99b7c2f8f07",
              "name": "api.baseurl",
              "value": "={{ $('Webhook').item.json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "5051c6d2-e549-45c4-8574-38d5294bd555",
              "name": "apikey",
              "value": "={{ $('Webhook').item.json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "b8c62d80-fd28-4949-b8ec-21fdd0811c1c",
              "name": "message.timeout",
              "value": "10",
              "type": "string"
            },
            {
              "id": "f9a971cf-54cc-4aa4-ada6-970de7259252",
              "name": "message.atendimento",
              "value": "720",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3680,
        440
      ],
      "id": "9bb1c410-8fbf-42bc-ae9e-3ace3ddb130e",
      "name": "SET_VARIAVEIS"
    },
    {
      "parameters": {
        "content": "## Setar Variáveis\n\n",
        "height": 540,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4740,
        180
      ],
      "id": "eeea3d7d-ffe9-43df-95bd-75042faefa81",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## FILTROS\n\n",
        "height": 540,
        "width": 940,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3540,
        180
      ],
      "id": "499c059d-7421-46df-a931-599d709102ce",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e89cad2e-443a-431e-a145-24f8e396621b",
              "leftValue": "={{ $('SET_VARIAVEIS').item.json.message.origem }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3480,
        340
      ],
      "id": "40f92462-0bf2-405e-bbb1-52caf63dbff1",
      "name": "INCOMING"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=atendimento.{{ $('INCOMING').item.json.user.number }}",
        "value": "true",
        "expire": true,
        "ttl": "={{ $('INCOMING').item.json.message.atendimento }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3180,
        460
      ],
      "id": "e84b39f1-219a-4957-bf4b-4780290f1c77",
      "name": "SET_ATENDIMENTO",
      "credentials": {
        "redis": {
          "id": "z9dhkExxqaexTGOA",
          "name": "Redis - Agente Prospeccao"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb7d712e-850a-4f58-b541-08085ad25a37",
              "leftValue": "={{ $json.atendimento }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2880,
        240
      ],
      "id": "f3676268-570d-438f-8a9f-154fc4cf5deb",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2880,
        460
      ],
      "id": "bf1839eb-e185-4dc6-b905-cafaa24197fb",
      "name": "Esperar"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "atendimento",
        "key": "=atendimento.{{ $('SET_VARIAVEIS').item.json.user.number }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3180,
        240
      ],
      "id": "f0764921-d9b5-4343-b445-715baceef6c8",
      "name": "GET_ATENDIMENTO",
      "credentials": {
        "redis": {
          "id": "z9dhkExxqaexTGOA",
          "name": "Redis - Agente Prospeccao"
        }
      }
    },
    {
      "parameters": {
        "content": "## BUFFER\n\n\n",
        "height": 540,
        "width": 1100,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2600,
        180
      ],
      "id": "2221e23d-9e76-4962-93f4-2ec8112e126a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6d328031-47ef-42cd-8ea5-6f8df2ad9260"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "19731b0f-6b69-4cdd-a95c-5ab06d9c9a91",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXTO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4400,
        420
      ],
      "id": "ca3ec6d7-da86-4898-bf9e-66d743bbef6a",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3840,
        200
      ],
      "id": "9bf3d697-ce86-4e45-a191-36e7ce20f3aa",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "VYnnWvfqV0hwHODf",
          "name": "[SandroValente]"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=temp.{{ $('SET_VARIAVEIS').item.json.user.number }}",
        "messageData": "={{ JSON.stringify($('INCOMING').item.json.message) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2560,
        220
      ],
      "id": "3a306940-2299-4655-9a7a-b8887ed3a5d0",
      "name": "PUSH",
      "credentials": {
        "redis": {
          "id": "z9dhkExxqaexTGOA",
          "name": "Redis - Agente Prospeccao"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "=temp.{{ $('INCOMING').item.json.user.number }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2360,
        220
      ],
      "id": "ffbbb9c2-94ed-419f-b5ec-9d37bb232adb",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "z9dhkExxqaexTGOA",
          "name": "Redis - Agente Prospeccao"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.messages?.first() ||'{}').id }}",
                    "rightValue": "={{ $('SET_VARIAVEIS').item.json.message.id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "395f1512-7e4d-45b6-8db4-c4c3f21597a8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NADA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f98f2585-b783-4f8e-8aa2-278951c8b45b",
                    "leftValue": "={{ DateTime.fromISO(JSON.parse($json.messages?.last() ||'{}').timestamp) }}",
                    "rightValue": "={{ $now.minus({ seconds: 8 }) }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SEGUE"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "ESPERA"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2140,
        220
      ],
      "id": "e99acd61-3bd0-4da7-8ec7-741a7adeaed8",
      "name": "SWITCH_BUFFER"
    },
    {
      "parameters": {
        "amount": 8
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2140,
        460
      ],
      "id": "32189c17-451b-46b1-8e19-c56fd020ed85",
      "name": "Wait",
      "webhookId": "3e5adfe8-050e-40d7-ae9c-7bf4a611f498"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=temp.{{ $('SET_VARIAVEIS').item.json.user.number }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1920,
        220
      ],
      "id": "dbcadf35-8cac-482d-9d59-6ebccedfcc98",
      "name": "DELETE",
      "credentials": {
        "redis": {
          "id": "z9dhkExxqaexTGOA",
          "name": "Redis - Agente Prospeccao"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b13c9fe-ab1c-4979-89ff-c534a0b46eb3",
              "name": "message",
              "value": "={{ $json.messages.map(value => JSON.parse(value).content).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1700,
        220
      ],
      "id": "425c110f-6f02-45d0-b6b8-b154fb9c883c",
      "name": "CONCATENA"
    },
    {
      "parameters": {
        "content": "## SUPABASE\n\n\n",
        "height": 540,
        "width": 1120,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1500,
        180
      ],
      "id": "edf4c9f1-1e71-4ca4-ab37-07df86e16306",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "66b91730-e04c-4b0b-aa3d-f3b1d20b4445",
              "leftValue": "={{ $('SET_VARIAVEIS').item.json.user.number }}",
              "rightValue": "={{ $json.telefone }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1140,
        220
      ],
      "id": "4278b330-fa5c-4860-9243-044119816279",
      "name": "VERIFICA_USER",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "contatos",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('SET_VARIAVEIS').item.json.user.number }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1380,
        220
      ],
      "id": "07c70142-8ece-4d9c-984d-f56eb55df12f",
      "name": "GET_USER",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "29DlyCSz6QfHDEtz",
          "name": "Supabase Agente (Apagar)"
        }
      }
    },
    {
      "parameters": {
        "tableId": "contatos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('SET_VARIAVEIS').first().json.user.name }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('SET_VARIAVEIS').first().json.user.number }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -840,
        340
      ],
      "id": "4ec6a947-d5ab-46fc-98dd-2f40df0a6a41",
      "name": "CRIA_USUARIO",
      "credentials": {
        "supabaseApi": {
          "id": "29DlyCSz6QfHDEtz",
          "name": "Supabase Agente (Apagar)"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -840,
        520
      ],
      "id": "ae5e7a26-4fe4-44b7-9ae1-0503b904c4f1",
      "name": "2_SECONDS",
      "webhookId": "17244279-706e-4ba6-a009-4f0492d617ff"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea302d92-4953-42d4-8165-cecca4eeb9e9",
              "name": "agente",
              "value": "={{ $json.agente }}",
              "type": "string"
            },
            {
              "id": "f4d4b365-5275-4198-b46c-87a9f47b17f9",
              "name": "user_profile",
              "value": "={{ $json.user_profile }}",
              "type": "string"
            },
            {
              "id": "0f3d6571-7427-4b1d-af2e-df08e73c77da",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "1088a4a9-794d-4c2e-80dc-7a3bdaf7d0d7",
              "name": "role",
              "value": "={{ $json.role }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -580,
        200
      ],
      "id": "c10ecf19-5e97-48d2-9653-c1f8884375c1",
      "name": "SET_USER"
    },
    {
      "parameters": {
        "jsCode": "// Função do n8n: recebe items com json.output\nconst maxLen = 220;\nconst text = items[0].json.output;  // ou ajuste conforme seu input\nconst parts = [];\nlet remaining = text;\n\nwhile (remaining.length > 0) {\n  // pega até o limite\n  const chunk = remaining.slice(0, maxLen);\n  let splitPos = -1;\n\n  // tenta dividir em dupla quebra de linha\n  const dnPos = chunk.lastIndexOf('\\n\\n');\n  if (dnPos !== -1) {\n    splitPos = dnPos + 2; // inclui as quebras\n  } else {\n    // procura o último sinal de pontuação permitido\n    const puncts = ['.', '!', '?', ':'];\n    let lastP = -1;\n    for (const p of puncts) {\n      const pos = chunk.lastIndexOf(p);\n      if (pos > lastP) lastP = pos;\n    }\n    if (lastP !== -1) {\n      splitPos = lastP + 1; // inclui o sinal\n    }\n  }\n\n  // se não encontrou posição \"natural\", corta no maxLen\n  if (splitPos === -1) {\n    splitPos = maxLen;\n  }\n\n  // adiciona o pedaço e remove da string restante\n  parts.push(remaining.slice(0, splitPos).trim());\n  remaining = remaining.slice(splitPos);\n}\n\n// retorna cada parte como um novo item\nreturn parts.map(p => ({ json: { chunk: p } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        300
      ],
      "id": "d64c9f08-a901-4eac-9a45-d3684fa1feff",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1240,
        300
      ],
      "id": "8ee8d038-ff6d-4820-9a1e-1f1c2fb49428",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        440
      ],
      "id": "4f5ce449-5c3d-4737-ae29-e20f753a78e9",
      "name": "Wait1",
      "webhookId": "6cdcc2a5-7205-4924-8688-b890482a2ff3"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('SET_VARIAVEIS').item.json.user.number }}",
        "messageText": "={{ $json.chunk }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1500,
        360
      ],
      "id": "67152c81-42ef-4cf3-bf09-ab5ae7f3000b",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "ZpGOh3tHEBGh7ng1",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "content": "## SPLIT DAS MENSAGENS\n\n\n\n",
        "height": 540,
        "width": 1240,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        180
      ],
      "id": "35f06872-b1aa-4da8-ab99-b6ef25e8eed9",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## O AGENTE\n\n\n\n\n",
        "height": 540,
        "width": 1340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        180
      ],
      "id": "f22a6a98-7b02-41a2-b635-568e5a1adead",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User name: {{ $('SET_VARIAVEIS').first().json.user.name }}\nUser message: {{ $('CONCATENA').first().json.message }}\n",
        "options": {
          "systemMessage": "=<agente>\n\n  <missao>\n    Qualificar leads interessados em automação e IA através de:\n    1. Coletar dados de qualificação: interesse, e-mail e dúvidas.\n    2. Salvar os dados imediatamente após coleta usando salva_contato.\n    3. Direcionar o usuário para o atendimento mais adequado.\n    4. Representar a SoftwarePlay Soluções Digitais com profissionalismo e entusiasmo.\n\n    Observação: O nome do usuário já foi capturado previamente. Não é necessário solicitá-lo novamente.\n\n    Após apresentar os serviços e responder às dúvidas, **informe que, se o usuário preferir, pode ser atendido por um especialista humano.**\n\n    Objetivo final: transformar visitantes em leads qualificados e direcioná-los para o melhor atendimento.\n  </missao>\n\n  <s>\n    Você é Bia, consultora virtual da Evolua. Atua via WhatsApp de forma consultiva, leve e objetiva. Especialista em automações com n8n, APIs, WhatsApp e integrações para negócios, Criação de Websites, Gestão de Marketing e Tráfego pago.\n  </s>\n\n  <identidade>\n    <nome>Bia</nome>\n    <empresa>Evolua IA</empresa>\n    <missao>Ajudar empresas a economizar tempo, automatizar processos e aumentar vendas com soluções digitais personalizadas.</missao>\n    <servicos>\n      Criação de automações com n8n, integrações de APIs, automações de WhatsApp, funis automatizados, geração de leads, notificações, dashboards e sistemas sob demanda, Criação de Websites, Gestão de Marketing.\n    </servicos>\n  </identidade>\n\n  <personalidade>\n    <tom>Consultivo, técnico, acolhedor e entusiasmado com tecnologia.</tom>\n    <comportamento>Faz perguntas estratégicas, explora dores, apresenta soluções claras e direcionadas.</comportamento>\n    <linguagem>Profissional e acessível. Frases curtas, linguagem objetiva, sem jargões técnicos desnecessários.</linguagem>\n  </personalidade>\n\n  <formatacao>\n    É PROIBIDO usar formatação Markdown. Use apenas texto simples. Não utilize negrito, itálico ou marcadores.\n  </formatacao>\n\n  <ferramentas>\n\n    <transferir_para_humano>\n      <descricao>Aciona o time humano quando o usuário pede ajuda ou demonstra frustração.</descricao>\n      <uso>transferir_para_humano(\"Nome\", \"Telefone\", \"Nível de interesse\", \"Dúvida ou necessidade principal\")</uso>\n    </transferir_para_humano>\n  </ferramentas>\n\n  <qualificacao>\n    <processo>FAÇA APENAS UMA PERGUNTA POR VEZ. Aguarde a resposta antes de seguir. Siga esta ordem:</processo>\n\n    <pergunta1>\n      <campo>interesse_user</campo>\n      <pergunta>Você tem interesse em aprender automação e IA, para automatizar processos da sua empresa?</pergunta>\n    </pergunta1>\n\n\n    <pergunta2>\n      <campo>duvida_user</campo>\n      <pergunta>Tem alguma dúvida específica sobre o a demanda que você busca, ou gostaria de falar com um atendimento humanizado?</pergunta>\n    </pergunta2>\n\n  \n  </qualificacao>\n\n  <comunicacao>\n    <formatacao>\n      <whatsapp>Use duas quebras de linha entre frases. Não use emojis. Não ultrapasse 100 caracteres por mensagem.</whatsapp>\n    </formatacao>\n  </comunicacao>\n\n  <informacoes_da_empresa>\n    <sobre_a_empresa>A Evolua é uma empresa de tecnologia especializada em automações e soluções digitais personalizadas.</sobre_a_empresa>\n    <sobre_o_produto>Automação de processos, e integração de sistemas, Criação de Websites e Gestão de Marketing.</sobre_o_produto>\n    <preco>Os preços variam conforme o escopo da demanda.</preco>\n  </informacoes_da_empresa>\n\n  <regras_cruciais>\n    <regra>Não é necessário perguntar o nome do usuário, pois ele já foi informado previamente.</regra>\n    <regra>Use transferir_para_humano sempre que houver frustração ou solicitação explícita.</regra>\n    <regra>Conduza o lead até identificar uma dor ou oportunidade de automação.</regra>\n    <regra>Após explicar os serviços, sempre pergunte se o usuário deseja conversar com um atendente humano e ofereça essa opção de forma clara.</regra>\n    <regra>Não ofereça soluções genéricas sem entender o contexto do cliente.</regra>\n    <regra>Mantenha um tom consultivo, claro, direto e com entusiasmo.</regra>\n  </regras_cruciais>\n\n</agente>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        200,
        240
      ],
      "id": "2eb46096-dd8e-437c-a032-4d524a284389",
      "name": "Recepcionista"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -180,
        520
      ],
      "id": "ab9a0373-32f0-49e8-9e15-b66e09006f0c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VYnnWvfqV0hwHODf",
          "name": "[SandroValente]"
        }
      }
    },
    {
      "parameters": {
        "content": "## Admin",
        "height": 340,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        -160
      ],
      "id": "9c888165-5a2a-4992-9468-148a729ff23b",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "teste01"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -160,
        -40
      ],
      "id": "c91ef859-a39b-4647-9eae-86512e582a8a",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "z9dhkExxqaexTGOA",
          "name": "Redis - Agente Prospeccao"
        }
      }
    },
    {
      "parameters": {
        "description": "use essa tool para transferir para um atendimento humanizado",
        "workflowId": {
          "__rl": true,
          "value": "CwkkV7UNakeXzefd",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "number.user": "={{ $('SET_VARIAVEIS').first().json.user.number }}",
            "name.user": "={{ $('SET_VARIAVEIS').first().json.user.name }}",
            "id_grupo": "120363401547654689@g.us"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "number.user",
              "displayName": "number.user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "name.user",
              "displayName": "name.user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_grupo",
              "displayName": "id_grupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        360,
        520
      ],
      "id": "8b28af84-5e5c-4e1c-8ef7-f7b7a70dce33",
      "name": "transferir_para_humano"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd515efe-f3c9-4c86-b9bf-70a721783f1d",
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "553171931507@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4560,
        600
      ],
      "id": "310a4e94-b13f-4b14-95b4-c06d9f317d9f",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $json.body.instance }}",
        "messageId": "={{ $json.body.data.key.id }}",
        "convertToMp4": true
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -4280,
        200
      ],
      "id": "6f5a4982-7d9a-4dba-bee2-69157bb63f2d",
      "name": "Obter m dia em base64",
      "credentials": {
        "evolutionApi": {
          "id": "ZpGOh3tHEBGh7ng1",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "fileName": "audio.ogg",
          "mimeType": "audio/ogg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -4060,
        200
      ],
      "id": "273849e5-6560-4ad4-aa86-f83de96cc256",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "content": "# 1",
        "height": 80,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4740,
        100
      ],
      "id": "e8cf48bf-5409-4466-86a8-c944a3f1599f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# 2",
        "height": 80,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3540,
        100
      ],
      "id": "2d33b2d8-48ec-4d13-a23a-de013c6a7773",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# 4",
        "height": 80,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1500,
        100
      ],
      "id": "299d6c46-7d94-42db-b81c-bfd915c262e7",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# 5",
        "height": 80,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        100
      ],
      "id": "2ee0312b-3ba0-4284-8679-0c313166da7d",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "# 6",
        "height": 80,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        100
      ],
      "id": "b9e37a29-e6da-4a86-ad75-68d7d288396b",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "# 3",
        "height": 80,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2600,
        100
      ],
      "id": "77489f30-b9b0-4227-a3f0-5d4c4979926c",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=teste01",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        0,
        520
      ],
      "id": "a6e75fee-cb44-4db9-b942-0f319a31c0ed",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "z9dhkExxqaexTGOA",
          "name": "Redis - Agente Prospeccao"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET_VARIAVEIS": {
      "main": [
        [
          {
            "node": "INCOMING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INCOMING": {
      "main": [
        [
          {
            "node": "GET_ATENDIMENTO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET_ATENDIMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "PUSH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET_ATENDIMENTO": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Obter m dia em base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET_VARIAVEIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "SET_VARIAVEIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUSH": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "SWITCH_BUFFER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SWITCH_BUFFER": {
      "main": [
        [],
        [
          {
            "node": "DELETE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE": {
      "main": [
        [
          {
            "node": "CONCATENA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONCATENA": {
      "main": [
        [
          {
            "node": "GET_USER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET_USER": {
      "main": [
        [
          {
            "node": "VERIFICA_USER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VERIFICA_USER": {
      "main": [
        [
          {
            "node": "SET_USER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CRIA_USUARIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRIA_USUARIO": {
      "main": [
        [
          {
            "node": "2_SECONDS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2_SECONDS": {
      "main": [
        [
          {
            "node": "GET_USER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET_USER": {
      "main": [
        [
          {
            "node": "Recepcionista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recepcionista": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Recepcionista",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "transferir_para_humano": {
      "ai_tool": [
        [
          {
            "node": "Recepcionista",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base64": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Recepcionista",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff5bb162-a511-4ae9-9e39-882cf794a3e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f61d794c21c6379e4b87d982481ff4581f2423d72ce9c66f946edeaab9700b86"
  },
  "id": "4KdWUJihuCeh1aqf",
  "tags": []
}