dados/Extrator Pró (3).json
{
  "name": "Extrator Pró",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b0c6a501-c1a4-4edc-b011-4091e27297bf",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        680,
        -20
      ],
      "id": "0da42430-3b1d-45d5-b3f1-bd1c1ce99ea6",
      "name": "Webhook",
      "webhookId": "b0c6a501-c1a4-4edc-b011-4091e27297bf"
    },
    {
      "parameters": {
        "jsCode": "// Adaptado para funcionar corretamente no n8n\n\n// Pega os dados do body enviado pelo Webhook\nconst empresas = items[0].json.body || [];\n\nreturn empresas.map(emp => {\n  // Remove tudo que não for dígito\n  const apenasDigitos = String(emp.telefone || '').replace(/\\D/g, '');\n\n  // Garante que comece com 55\n  const comPais = apenasDigitos.startsWith('55')\n    ? apenasDigitos\n    : `55${apenasDigitos}`;\n\n  // Gera jid_12 e jid_13 corretamente\n  const ddd = comPais.slice(2, 4);\n  const numeroSemDDD = comPais.slice(4);\n\n  const jid_12 = `${comPais}@s.whatsapp.net`;\n  const jid_13 = `55${ddd}9${numeroSemDDD}@s.whatsapp.net`;\n\n  return {\n    json: {\n      nome_empresa: emp.nome_empresa || '',\n      endereco: emp.endereco || '',\n      website: emp.website || '',\n      rating: emp.rating || '',\n      reviews: emp.reviews || '',\n      especialidades: emp.especialidades || '',\n      telefone_original: emp.telefone || '',\n      jid_12,\n      jid_13\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        -20
      ],
      "id": "1004af40-ce35-4439-9038-df70f324cb2b",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## Extrator Evolua Pró",
        "height": 940,
        "width": 3760,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        -280
      ],
      "id": "7e3631ed-207c-4220-9cc0-601c0f7ea207",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# ABASTECIMENTO Extrator Pró",
        "height": 80,
        "width": 600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        580,
        -280
      ],
      "typeVersion": 1,
      "id": "6a70c046-b17f-4124-83fe-6dd51e32e288",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78f34ae6-559a-44d5-bb2e-90a22caa6d93",
              "name": "remote_jid_12",
              "value": "={{ \n  (() => {\n    const tel = String($json.telefone_original).replace(/\\D/g, '');\n    const ddd = tel.slice(0, 2);\n    let numero = tel.slice(2);\n\n    // Remove o 9 só se ele estiver no início do número\n    if (numero.startsWith('9') && numero.length === 9) {\n      numero = numero.slice(1);\n    }\n\n    return `55${ddd}${numero}@s.whatsapp.net`;\n  })() \n}}",
              "type": "string"
            },
            {
              "id": "9d3dfda4-9461-4da1-9efa-ad5744ac48ff",
              "name": "remote_jid_13",
              "value": "={{ \n  (() => {\n    const tel = String($json.telefone_original).replace(/\\D/g, '');\n    const ddd = tel.slice(0, 2);\n    let numero = tel.slice(2);\n\n    // Adiciona o 9 apenas se ainda não começar com 9\n    if (!numero.startsWith('9')) {\n      numero = '9' + numero;\n    }\n\n    return `55${ddd}${numero}@s.whatsapp.net`;\n  })()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2020,
        20
      ],
      "id": "0c51b9ec-a1e8-4284-8dc4-1f9933df3070",
      "name": "SETA_12_13"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('DADOS').item.json.url_do_evolution }}/chat/whatsappNumbers/{{ $('DADOS').item.json.instancia_evolution }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('DADOS').item.json.api_key_evolution }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numbers\": [\"{{ $('SETA_12_13').first().json.remote_jid_12.trim() }}\"]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        20
      ],
      "id": "27e3b29d-3692-4a93-801f-18df2c472581",
      "name": "Check JID 12",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1520,
        -20
      ],
      "id": "20aff3da-6be7-4e22-a0dc-a0669e8fa00c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aa10db6d-a9eb-4fe4-b9ef-d187369e2b5e",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2660,
        -140
      ],
      "id": "e5d3bc0f-b765-49aa-bf7c-9261557e0466",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fbe31f74-4905-47a1-bda3-635a665a8ed5",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3140,
        240
      ],
      "id": "0cefca6b-939e-4759-b49d-2376541ef230",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('DADOS').item.json.url_do_evolution }}/chat/whatsappNumbers/{{ $('DADOS').first().json.instancia_evolution }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('DADOS').item.json.api_key_evolution }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numbers\": [\"{{ $('SETA_12_13').item.json.remote_jid_13.trim() }}\"]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        100
      ],
      "id": "4ffa79fc-5693-4933-8754-ae8af28bbb6e",
      "name": "Check JID 13",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1itGj6W3nHPC9uzSglhIu4vmFnKORAESfAPf6n0k-EME",
          "mode": "list",
          "cachedResultName": "Extrator - Teste",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1itGj6W3nHPC9uzSglhIu4vmFnKORAESfAPf6n0k-EME/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qiek_QzsZPNzC4DYGEkYK_luMLN2M4svjY_AAREdNW8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome_empresa": "={{ $('Loop Over Items').item.json.nome_empresa }}",
            "telefone": "={{ $('If').first().json.jid }}",
            "endereco": "={{ $('Loop Over Items').item.json.endereco }}",
            "website": "={{ $('Loop Over Items').item.json.website }}",
            "rating": "={{ $('Loop Over Items').item.json.rating }}",
            "reviews": "={{ $('Loop Over Items').item.json.reviews }}",
            "especialidades": "={{ $('Loop Over Items').item.json.especialidades }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nome_empresa",
              "displayName": "nome_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "endereco",
              "displayName": "endereco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reviews",
              "displayName": "reviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "especialidades",
              "displayName": "especialidades",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "disparo",
              "displayName": "disparo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3900,
        360
      ],
      "id": "fcf9ae1f-127f-4e2e-a278-52babebeb24d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7Hwtp4T5LF9Ft0P8",
          "name": "iaevolua@gmail.com - ofc prospeccao"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f54ace6d-93b9-4219-b7bc-c01baabc41ad",
              "name": "url_do_evolution",
              "value": "AQUI URL DO EVOLUTION",
              "type": "string"
            },
            {
              "id": "ed523a0c-b1d7-4d15-957e-e08b22c64143",
              "name": "api_key_evolution",
              "value": "AQUI API KEY AQUI DO EVOLUTION",
              "type": "string"
            },
            {
              "id": "8e88f47d-aef0-4c73-bcb9-025aebfc837b",
              "name": "instancia_evolution",
              "value": "AQUI NOME DA INSTANCIA EVOLUTION",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -20
      ],
      "id": "10a1ba57-84e9-459b-bc9f-f22205067ad6",
      "name": "DADOS"
    },
    {
      "parameters": {
        "content": "## Alterar AQUI",
        "height": 320,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        -120
      ],
      "id": "358d2847-9424-4bf9-aa6a-f9f9aa1c1cbd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4140,
        360
      ],
      "id": "9aab1121-0dc9-4577-b644-2782361e17a3",
      "name": "Wait",
      "webhookId": "1670e064-8750-49a0-a3ab-4d79a9e324a1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1itGj6W3nHPC9uzSglhIu4vmFnKORAESfAPf6n0k-EME",
          "mode": "list",
          "cachedResultName": "Extrator - Teste",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1itGj6W3nHPC9uzSglhIu4vmFnKORAESfAPf6n0k-EME/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10L-HNkOwldPGuCHed2eHheYfXbWxLhaERqlnwAwFl90/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telefone",
              "lookupValue": "={{ $json.jid }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3400,
        -160
      ],
      "id": "beb2a290-2241-43a7-a87a-23e4f3ad5df9",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7Hwtp4T5LF9Ft0P8",
          "name": "iaevolua@gmail.com - ofc prospeccao"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9949dc12-7010-4366-9596-a8412e0f7797",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3400,
        120
      ],
      "id": "8328015f-4df3-44fb-adba-1f5113d2706f",
      "name": "If2"
    },
    {
      "parameters": {
        "content": "## Alterar AQUI",
        "height": 320,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3820,
        280
      ],
      "id": "365fa9e1-4148-41ad-aa7c-039a025f9146",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Alterar AQUI",
        "height": 320,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3320,
        -260
      ],
      "id": "0449f3f7-d29d-4f6e-b491-4d3af298642b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3400,
        360
      ],
      "id": "dd025491-a5df-4f45-9a78-72ba2995d259",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "DADOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SETA_12_13": {
      "main": [
        [
          {
            "node": "Check JID 12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check JID 12": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "SETA_12_13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check JID 13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check JID 13": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DADOS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "381b65b8-2b1b-4591-a38c-d5ac20ae6f95",
  "meta": {
    "instanceId": "f61d794c21c6379e4b87d982481ff4581f2423d72ce9c66f946edeaab9700b86"
  },
  "id": "cpv2VMoIg48DMRyd",
  "tags": []
}